@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
}

:root{
    --primary: white;
    --secondary:black ;
    --tertiary:#00203FFF ;
}

body{
    font-family: 'Montserrat', sans-serif;
}

section h2{
    margin-bottom: 1rem;
    color: var(--tertiary);
}

.container{
   display: grid;
   grid-template-columns: 200px auto auto;
   grid-template-areas: 
   "nav nav nav"
   "sidebar content content"
   "footer footer footer";
   grid-auto-flow: column;
}

.nav{
    grid-area: nav;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}

.sidebar{
    grid-area: sidebar;
    padding: 1rem;
    position: fixed;
    margin-top: 8vh;
    height:86vh;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
    display: none;
}
  
.sidebar ul{
    padding:0;
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.sidebar li{
    list-style: none;
    margin: 1rem 0;
}

.sidebar li a {
    text-decoration: none;
    color: var(--tertiary);
    font-weight: 700;
}

.content{
    grid-area: content;
    background-color: var(--primary);
    color: var(--secondary);
    width: 100%;
}

.footer{
    grid-area: footer;
    background: var(--tertiary);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:180px;
}

.footer-header{
    text-align: center;
    color: var(--primary);
}

.footer ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.footer li{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 1rem;
    margin-top: 1rem;
}

.footer li a{
   color: var(--primary);
   text-decoration: none;
}

.footer i{
    color: var(--primary);
}

.code-container{
    display: flex;
    flex-direction: column;
}

.code-container > h2{
    margin-bottom: 1rem;
}

.iframe-container{
    border:0; 
    transform: scale(1); 
    overflow:hidden;
    margin-top: 10px;
    width: 100%;
}

.badge-container{
    display:flex;
    flex-wrap: wrap;
}

.badge-container div {
    margin: 1rem;
}

.btn-container{
    display:flex;
}

.btn-container button{
     margin: 1rem;
}

.btn-container select{
    margin: 1rem;
}



